@import '../../../variables.scss';
.note{
    padding: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 30px;
    grid-template-rows: 30px 30px auto;
    grid-gap: 5px;
    grid-template-areas: 
        'tag  d'
        't e'
        't  .'
    ;
    .text{
        grid-area: t;
        white-space: pre-wrap;
    }
    .delete{
        grid-area: d;
        background-color: red;
    }
    .edit{    
        grid-area: e;
        background-color: blue;
    }
    .edit.disabled{
        opacity: 0.3;
        cursor: default;
    }
    .button{
        cursor: pointer;
        border-radius: 50%;
        font-size: 15px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s;
    }
    .button:hover{
        background-color: $button_active_bg;
        color: $button_active_text;
    }
    .tags{
        grid-area: tag;
        display: flex;
        .tag{
            padding: 1px;
            margin-left: 3px;
            cursor: pointer;
            background-color: $button_bg;
            color: $button_text;
            display: flex;
            align-items: center;
            transition: .2s;
        }
        .tag:hover{
            background-color: $button_active_bg;
            color: $button_active_text;
        }
    }
}
.blink{
    animation: blinkingBackground 1s infinite;
}
@keyframes blinkingBackground{
    0%		{ background-color: white;}
    50%		{ background-color: $button_active_bg}
    100%	{ background-color: white;}
}
