.note{
    padding: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 20px;
    grid-template-rows: 20px 20px auto;
    grid-gap: 5px;
    grid-template-areas: 
        'tag  d'
        't e'
        't  .'
    ;
}
.tags{
    grid-area: tag;
}
.text{
    grid-area: t;
}
.delete{
    grid-area: d;
    background-color: red;
}
.edit{    
    grid-area: e;
    background-color: blue;
}
.button{
    cursor: pointer;
    border-radius: 50%;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}