@import '../../../variables.scss';
.note{
    padding: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 30px;
    grid-template-rows: 30px 30px auto;
    grid-gap: 5px;
    grid-template-areas: 
        'm  d'
        'm e'
        'm  .'
    ;
    .main{
        grid-area: m;
        display: flex;
        flex-direction: column;
        .tags{
        min-height: 30px;
        max-height: fit-content;
        flex-wrap: wrap;
        display: flex;
        .tag{
            height: 26px;
            margin: 2px;
            padding: 2px;
            margin-left: 3px;
            cursor: pointer;
            background-color: $button_bg;
            color: $button_text;
            display: flex;
            align-items: center;
            transition: .2s;
        }
        .tag:hover{
            background-color: $button_active_bg;
            color: $button_active_text;
        }
        .text{
            white-space: pre-wrap;
        }
    }
    }
    .delete{
        grid-area: d;
        background-color: red;
    }
    .edit{    
        grid-area: e;
        background-color: blue;
    }
    .edit.disabled{
        opacity: 0.3;
        cursor: default;
    }
    .button{
        user-select: none;
        cursor: pointer;
        border-radius: 50%;
        font-size: 15px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s;
    }
    .button:hover{
        background-color: $button_active_bg;
        color: $button_active_text;
    }
   
}
.blink{
    animation: blinkingBackground 1s infinite;
}
@keyframes blinkingBackground{
    0%		{ background-color: white;}
    50%		{ background-color: $button_active_bg}
    100%	{ background-color: white;}
}
