@import '../../../variables.scss';

.input_container{
    transition: .5s;
    overflow: hidden;
    height: 0px;
    flex-grow: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 30px auto;
    grid-template-areas: 
        'a c tag'
        't t tag'
    ;
    align-items: stretch;
    grid-gap:5px;
    .button{
        cursor: pointer;
        transition: .3s;
        opacity: 0.8;
        color: white;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
    .button:hover{
        opacity: 1;
    }
    .accept{
        grid-area: a;
        background-color: green;
    }
    .cancel{
        grid-area: c;
        background-color: red;
    }
    .text{
        grid-area: t;
        padding-bottom: 5px;
        .textarea{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 20px;
            background-color: #fff;
            width: 100%;
            height: 100%;      
            padding: 0;
            border: none;
            resize: none;
        }
        .textarea:focus{
            outline:2px inset $button_active_bg;
        }
    }
    .tags_wrapper{
        grid-area: tag;
        overflow-y: auto;
        overflow-x: hidden;
        .tags{
            display: flex;
            align-items: center;
            justify-content: flex-start;            
            flex-direction: column;
            .tag{
                overflow-wrap: anywhere;
                font-weight: 600;
                display: flex;
                align-content: center;
                margin-top: 3px;
                border-radius: 2px;
                padding: 2px;
                background-color: $button_active_bg;
                color: $button_active_text;
            }
        }
    }   
}
.input_container.active{
    flex-grow: 0.5;
}