@import '../../variables.scss';
.notes{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_note{
    margin: 5px 0;
    border-radius: 2px;
    cursor: pointer;
    color:$button_text;
    padding: 5px;
    width: fit-content;
    background-color:$button_bg ;
    transition: .3s;
}
.add_note:hover{
    background-color: $button_active_bg;
    color:$button_active_text;
}
.add_note.disabled{
    display: none;
}

.notes_list_container{
    margin: 5px 0;
    height: 0px;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
}
.notes_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

@media (max-width: 1280px) {
    .notes_list{
        grid-template-columns: repeat(2,1fr);
    };
}
@media (max-width: 780px) {
    .notes_list{
        grid-template-columns: repeat(1,1fr);
    };
}

